
/* light mode */

body {
    background-color: #ffffff;
    color: #000000;
}

.light-container {
    background-color:wheat;
    color:#000000;

}

/* dRK MODE */
body {
    background-color: #121212;
    color: aqua;
}

.dark-container {
    background-color:gray;
}

/* BLUE MODE */

body {
    background-color:wheat;
    color:deepskyblue;
}

.blue-container {
    background-color: #003366;
}

.menu-bar{
 text-align: right;
}
